<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore"
           path="*"
           verb="*"
           modules="AspNetCoreModuleV2"
           resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet"
                arguments=".\Web.dll"
                stdoutLogEnabled="true"
                stdoutLogFile=".\logs\stdout"
                hostingModel="OutOfProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ConnectionStrings__CatalogConnection"
                             value="Server=localhost\SQLEXPRESS;Database=CatalogDb;
         Trusted_Connection=True;
         TrustServerCertificate=True;
         Encrypt=False;" />
        <environmentVariable name="CORECLR_ENABLE_PROFILING" value="1" />
        <environmentVariable name="CORECLR_PROFILER" value="{846F5F1C-F9AE-4B07-969E-05C26BC060D8}" />
        <environmentVariable name="DD_PROFILING_ENABLED" value="1" />
        <environmentVariable name="DD_PROFILING_CPU_ENABLED" value="1" />
        <environmentVariable name="DD_PROFILING_WALLTIME_ENABLED" value="1" />
        <environmentVariable name="DD_PROFILING_ALLOCATION_ENABLED" value="1" />
        <environmentVariable name="DD_PROFILING_HEAP_ENABLED" value="1" />
        <environmentVariable name="DD_PROFILING_EXCEPTION_ENABLED" value="1" />
        <environmentVariable name="DD_PROFILING_LOCK_ENABLED" value="1" />
        <environmentVariable name="DD_PROFILING_GC_ENABLED" value="1" />
        <environmentVariable name="DD_ENV" value="production" />
        <environmentVariable name="DD_VERSION" value="1.2.3" />
        <environmentVariable name="DD_SERVICE" value="eShopOnWeb" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>